/* 共通部分 */
:root {
  --color1 : #FFF5F7;
  --color2 : #FBC3BC;
  --main-size : 18px;
  --title-size : 28px;
}
h2{
  text-align: center;
}
a{
  text-decoration: none;
}

/* ヘッダー */
header{
  display: flex;
  position: fixed;
  width:100%;
  height: 90px;
  left:0;
  top:0;
  margin:0;
  background-color: #FFF;
  z-index:1001;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);
}

.header_title{
  background: linear-gradient(transparent 60%, var(--color2) 60%);
  background-repeat: no-repeat;
	background-size: 100% 30%;
	background-position: bottom;
  margin-bottom: 40px;
}

.header_button{
	position: fixed;
  top: 0;
  right: 0;
  margin: 10px;
}
.header_button a{
  float: left;
  display: block;
  text-align: center;
  margin-left: 10px;
  padding: 5px 0 5px 0;
  width: 200px;
  border-radius: 10rem;
  color: #000;
  background: linear-gradient(to right, var(--color2) 0%, var(--color1) 50%, var(--color2) 100%);
  border: 1px solid var(--color2);
  background-position: 0 50%;
  background-size: 200% auto;
  transition: background-position 0.3s ease-in-out;
}
.header_button a:hover{
  background-position: 100% 50%;
}

header ul{
  margin: 55px 0 0 0;
}

header li{
  float: left;
  list-style:none;
  padding-left: 30px;
}
header li a{
  color: #000;
  position: relative;

}
header li a::after {
  position: absolute;
  left: 0;
  content: '';
  width: 100%;
  height: 4px;
  background: var(--color2);
  bottom: -1px;
  transform: scale(0,1);
  transform: left top;
  transition: transform 0.3s;
}
header li a:hover::after {
  transform: scale(1,1);
}

/* スライドショー */
div#carousel { 
  perspective: 1200px; /*スライドショーの横幅：画像全体*/
  background-image: url('/img/slide_back.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-top: 10px; 
  margin-top: 100px;
  font-size:0; 
  overflow: hidden; 
}
figure#spinner { 
  transform-style: preserve-3d;
  height: 300px;
  transform-origin: 50% 50% -500px;
  transition: 1s;
  
} 
figure#spinner img { 
    width: 40%; max-width: 450px; 
    position: absolute; left: 30%;/*スライドショーの場所：横*/
    transform-origin: 50% 50% -600px;
    outline:1px solid transparent; 
}
figure#spinner img:nth-child(1) { transform:rotateY(0deg); 
}
figure#spinner img:nth-child(2) { transform: rotateY(-45deg); }
figure#spinner img:nth-child(3) { transform: rotateY(-90deg); }
figure#spinner img:nth-child(4) { transform: rotateY(-135deg); }
figure#spinner img:nth-child(5){ transform: rotateY(-180deg); }
figure#spinner img:nth-child(6){ transform: rotateY(-225deg); }
figure#spinner img:nth-child(7){ transform: rotateY(-270deg); }
figure#spinner img:nth-child(8){ transform: rotateY(-315deg); }
div#carousel ~ span { 
    color: #000; 
    margin: 5%; 
    display: inline-block; 
    text-decoration: none; 
    font-size: 2rem; 
    transition: 0.6s color; 
    position: relative; 
    margin-top: -6rem; 
    border-bottom: none; 
    line-height: 0;
}
div#carousel ~ span:hover { color: #888; cursor: pointer; }

/* メインコンテンツ */
.catch_copy {
  font-size: 21px;
  height: 65px;
  background:linear-gradient(90deg, var(--color2) 0%, #ffddd9 20%);
  text-align:center;
  padding: 20px 0;
}

.main_contents{
  margin: 0 auto;
  width: 100%;
  padding: 40px;
  background: linear-gradient(to right,transparent,#FFFFFF 10%, #FFF5F7,80%,#FFFFFF);
  text-align: center;
  font-size: 18px;
  line-height: 2.0;
}

.main_contents p {
  margin: 20px;
  padding: 0 60px;
  text-align: center;
}

/* スマイルトレーナーとは */
.about{
    position: relative;
    width: 55%;
    min-width: 400px;
    margin: 0 auto;
  }

.about h2 {
    position: absolute;
    top: 30%;
    color: #000;
    width: 100%;
    font-size: 24px;
    text-align: center;
    background:linear-gradient(90deg, var(--color2) 0%, #ffddd9 20%);
    background-repeat: no-repeat;
    background-size: 60% 50%;
    background-position: bottom;
  }

.about p {
  position: absolute;
  top: 45%;
  color: #000;
  width: 100%;
  font-size: 18px;
  margin: 0 auto;
  padding: 0 60px;
  text-align: center;
}

/* セミナーについて */
.seminar{
  margin: 100px 0 0 0;
}
#detail .tabs {
  margin-top: 50px;
  padding-bottom: 40px;
  background-color: #fff;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
  width: 80%;
  margin: 0 auto;
}
#detail .tab_item {
  position: relative;
  width: calc(100%/3);
  height: 50px;
  border: 3px solid var(--color2);
  background-color: #fff;
  line-height: 50px;
  font-size: 16px;
  text-align: center;
  color: #000;
  display: block;
  float: left;
  text-align: center;
  font-weight: bold;
  transition: all 0.2s ease;
}
#detail .tab_item::after {
  position: absolute;
  left: 15%;
  content: '';
  width: 70%;
  height: 4px;
  background: var(--color2);
  bottom: 8px;
  transform: scale(0,1);
  transform: left top;
  transition: transform 0.3s;
}
#detail .tab_item:hover::after {
  transform: scale(1,1);
}

#detail input[name="tab_item"] {
  display: none;
}
  
#detail .tab_content {
  display: none;
  padding: 40px 40px 0;
  clear: both;
  /* overflow: hidden; */
}
#detail .tab_content_description{
  display: flex;
  /* position: absolute; */
}
#detail img{
  height: 400px;
  width: 350px;
  margin: 0 0 0 60px;
  border-radius: 100rem;
  box-shadow: 10px 10px var(--color2);
  object-fit: cover;
}
  #employee_training:checked ~ #training_content,
  #smile_training:checked ~ #smile_content,
  #hospitality:checked ~ #hospitality_content {
    display: block;
  }
  
#detail .tabs input:checked + .tab_item {
  background-color: var(--color1);
  color: #000;
  position: relative;
}
#detail .tabs input:checked + .tab_item::after{
  position: absolute;
  transform: scale(0,0);
  transform: left top;
  transition: transform 0.3s;
}
#detail .tabs input:checked + .tab_item:hover::after{
  transform: scale(0,0);
}
.c-txtsp{
  display: inline;
  height: 450px;
  width: 500px;
  background-color: var(--color1);
  border-radius: 100rem;
  padding: 120px 50px 0 50px;
  margin: 100px 0 0 20px;
}

/* セミナーの感想 */

/* セミナー開始までの流れ */
.scroll_container{
  position: relative;
}
.scroll_img{
  width: 60%;
  height: 350px;
  object-fit: cover;
  object-position: 50% 80%;
  margin: 0 15% 0 10%;
}
.scroll{
  position: absolute;
  top:0;
  left:50%;
  width:500px;
  height: 320px;
  overflow: auto;
}
.scroll::-webkit-scrollbar{
  display: none;
}
.scroll_item{
  margin: 20px 0 10px 0;
}
.scroll_step{
  position: relative;
  background-color: var(--color2);
  border-radius: 20px;
  width: 100px;
  text-align: center;
  padding: 5px 10px 5px 10px;
  margin-bottom: -15px;
  z-index: 10;
}
.scroll_text{
  height: 280px;
  background-color: rgba(255, 245, 247, 0.7);
  border: 1px solid var(--color2);
  padding: 30px 50px 0 50px;
  z-index: 0;
}
.scroll_scroll{
  height: auto;
  width: 100px;
  margin: -30px 100px 0 auto;
  transform:rotate(90deg);
}
.cp_arrows *, .cp_arrows *:before, .cp_arrows *:after {
	-webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.cp_arrows {
	position: relative;
	/* display: flex; */
	height: 100px;
	margin: 0 0 0 auto;
	justify-content: center;
	align-items: center;
}
.cp_arrows .cp_arrow {
	position: absolute;
	left: 86%;
	width: 40px;
	height: 10px;
	-webkit-transform: scale(0.3);
  transform: scale(0.3);
	-webkit-animation: arrow-move07 3s ease-out infinite;
  animation: arrow-move07 3s ease-out infinite;
	opacity: 0;
}
.cp_arrows .cp_arrow:first-child {
	-webkit-animation: arrow-move07 3s ease-out 1s infinite;
  animation: arrow-move07 3s ease-out 1s infinite;
}
.cp_arrows .cp_arrow:nth-child(2) {
	-webkit-animation: arrow-move07 3s ease-out 2s infinite;
  animation: arrow-move07 3s ease-out 2s infinite;
}
.cp_arrows .cp_arrow:before,
.cp_arrows .cp_arrow:after {
	position: absolute;
	top: 0;
	width: 50%;
	height: 100%;
	content: '';
	border-radius: 2px;
	background: var(--color2);
}
.cp_arrows .cp_arrow:before {
	left: 1px;
	-webkit-transform: skewY(30deg);
  transform: skewY(30deg);
}
.cp_arrows .cp_arrow:after {
	right: 1px;
	width: 50%;
	-webkit-transform: skewY(-30deg);
  transform: skewY(-30deg);
}
@-webkit-keyframes arrow-move07 {
  25% {
    opacity: 0.6;
  }
  43.75% {
    -webkit-transform: translateY(1em);
    transform: translateY(1em);
    opacity: 0.8;
  }
  62.5% {
    -webkit-transform: translateY(2em);
    transform: translateY(2em);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(3em) scale(0.5);
      transform: translateY(3em) scale(0.5);
    opacity: 0;
  }
  }
  @keyframes arrow-move07 {
  25% {
    opacity: 0.6;
  }
  43.75% {
    -webkit-transform: translateY(1em);
    transform: translateY(1em);
    opacity: 0.8;
  }
  62.5% {
    -webkit-transform: translateY(2em);
    transform: translateY(2em);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(3em) scale(0.5);
      transform: translateY(3em) scale(0.5);
    opacity: 0;
  }
}

/* 講師紹介 */
#li4{
  /* width: 80%; */
  padding: 50px 10% 50px 10%;
  background:linear-gradient(90deg, var(--color1) 0%, #FFF3F5 20%, var(--color1) 90%);
}
#li4 h3{
  clear: both;
  padding: 50px 0 0 50px;
}
.k_introduction_img{
  float: left;
  width: 40%;
  height: 270px;
  object-fit: cover;
  margin: 0 0 0 50px;
  border-radius: 50px;
}
.k_introduction_text{
  float: left;
  width: 50%;
  height: 270px;
  padding: 50px 50px 10px 50px;
}
.k_achievements{
  clear: both;
  /* margin: 50px 0 0 0; */
  display: grid;
  grid-template-columns: repeat(2,1fr);
}
.k_achievements_item{
  /* width: 50%; */
  height: 250px;
  border-radius: 50%;
  border: 1px solid #F99A8F;
  padding: 50px 50px 0 50px;
}
.k_a_item1{
  background-color: #FFE3DF;
}
.k_a_item2{
  background-color: #FFE7E4;
}
.k_a_item3{
  background-color: #FEF0EF;
}
.k_a_item4{
  background-color: #FFFBFA;
}

/* お問い合わせボタン */

/* フッダー */
footer{
  height: 200px;
  background: linear-gradient(var(--color2), var(--color1));
  padding: 30px 50px;
}
.footer_name{
  font-weight: bold;
  font-size: 1.5rem;
}
.footer_a{
  background-color: #000;
}
.insta_img{
  margin: 5px 10px 0 0;
  width: 40px;
  float: left;
}