/* 共通部分 */
:root {
  --color1 : #FFF5F7;
  --color2 : #FBC3BC;
  --main-size : 18px;
  --title-size : 28px;
}
h2{
  text-align: center;
}
a{
  text-decoration: none;
}

/* ヘッダー */
header{
  display: flex;
  position: fixed;
  width:100%;
  height: 90px;
  left:0;
  top:0;
  margin:0;
  background-color: #FFF;
  z-index:1001;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);
}

.header_title{
  background: linear-gradient(transparent 60%, var(--color2) 60%);
  background-repeat: no-repeat;
	background-size: 100% 30%;
	background-position: bottom;
  margin-bottom: 40px;
}

.header_button{
	position: fixed;
  top: 0;
  right: 0;
  margin: 10px;
}
.header_button a{
  float: left;
  display: block;
  text-align: center;
  margin-left: 10px;
  padding: 5px 0 5px 0;
  width: 200px;
  border-radius: 10rem;
  color: #000;
  background: linear-gradient(to right, var(--color2) 0%, var(--color1) 50%, var(--color2) 100%);
  border: 1px solid var(--color2);
  background-position: 0 50%;
  background-size: 200% auto;
  transition: background-position 0.3s ease-in-out;
}
.header_button a:hover{
  background-position: 100% 50%;
}

header ul{
  margin: 55px 0 0 0;
}

header li{
  float: left;
  list-style:none;
  padding-left: 30px;
}
header li a{
  color: #000;
  position: relative;

}
header li a::after {
  position: absolute;
  left: 0;
  content: '';
  width: 100%;
  height: 4px;
  background: var(--color2);
  bottom: -1px;
  transform: scale(0,1);
  transform: left top;
  transition: transform 0.3s;
}
header li a:hover::after {
  transform: scale(1,1);
}

/* スライドショー */
div#carousel { 
  perspective: 1200px; /*スライドショーの横幅：画像全体*/
  background-image: url('/img/slide_back.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-top: 10px; 
  margin-top: 100px;
  font-size:0; 
  overflow: hidden; 
}
figure#spinner { 
  transform-style: preserve-3d;
  height: 300px;
  transform-origin: 50% 50% -500px;
  transition: 1s;
  
} 
figure#spinner img { 
    width: 40%; max-width: 450px; 
    position: absolute; left: 30%;/*スライドショーの場所：横*/
    transform-origin: 50% 50% -600px;
    outline:1px solid transparent; 
}
figure#spinner img:nth-child(1) { transform:rotateY(0deg); 
}
figure#spinner img:nth-child(2) { transform: rotateY(-45deg); }
figure#spinner img:nth-child(3) { transform: rotateY(-90deg); }
figure#spinner img:nth-child(4) { transform: rotateY(-135deg); }
figure#spinner img:nth-child(5){ transform: rotateY(-180deg); }
figure#spinner img:nth-child(6){ transform: rotateY(-225deg); }
figure#spinner img:nth-child(7){ transform: rotateY(-270deg); }
figure#spinner img:nth-child(8){ transform: rotateY(-315deg); }
div#carousel ~ span { 
    color: #000; 
    margin: 5%; 
    display: inline-block; 
    text-decoration: none; 
    font-size: 2rem; 
    transition: 0.6s color; 
    position: relative; 
    margin-top: -6rem; 
    border-bottom: none; 
    line-height: 0;
}
div#carousel ~ span:hover { color: #888; cursor: pointer; }

/* メインコンテンツ */
.catch_copy {
  font-size: 21px;
  height: 65px;
  background:linear-gradient(90deg, var(--color2) 0%, #ffddd9 20%);
  text-align:center;
  padding: 20px 0;
}

.main_contents{
  margin: 0 auto;
  width: 100%;
  padding: 40px;
  background: linear-gradient(to right,transparent,#FFFFFF 10%, #FFF5F7,80%,#FFFFFF);
  text-align: center;
  font-size: 18px;
  line-height: 2.0;
}

.main_contents p {
  margin: 20px;
  padding: 0 60px;
  text-align: center;
}

/* スマイルトレーナーとは */
.about{
    position: relative;
    width: 55%;
    min-width: 400px;
    margin: 0 auto;
  }

.about h2 {
    position: absolute;
    top: 30%;
    color: #000;
    width: 100%;
    font-size: 24px;
    text-align: center;
    background:linear-gradient(90deg, var(--color2) 0%, #ffddd9 20%);
    background-repeat: no-repeat;
    background-size: 60% 50%;
    background-position: bottom;
  }

.about p {
  position: absolute;
  top: 45%;
  color: #000;
  width: 100%;
  font-size: 18px;
  margin: 0 auto;
  padding: 0 60px;
  text-align: center;
}

/* セミナーについて */
.seminar{
  margin: 100px 0 0 0;
}
#detail .tabs {
  margin-top: 50px;
  padding-bottom: 40px;
  background-color: #fff;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
  width: 80%;
  margin: 0 auto;
}
#detail .tab_item {
  position: relative;
  width: calc(100%/3);
  height: 50px;
  border: 3px solid var(--color2);
  background-color: #fff;
  line-height: 50px;
  font-size: 16px;
  text-align: center;
  color: #000;
  display: block;
  float: left;
  text-align: center;
  font-weight: bold;
  transition: all 0.2s ease;
}
#detail .tab_item::after {
  position: absolute;
  left: 15%;
  content: '';
  width: 70%;
  height: 4px;
  background: var(--color2);
  bottom: 8px;
  transform: scale(0,1);
  transform: left top;
  transition: transform 0.3s;
}
#detail .tab_item:hover::after {
  transform: scale(1,1);
}

#detail input[name="tab_item"] {
  display: none;
}
  
#detail .tab_content {
  display: none;
  padding: 40px 40px 0;
  clear: both;
  /* overflow: hidden; */
}
#detail .tab_content_description{
  display: flex;
  /* position: absolute; */
}
#detail img{
  height: 400px;
  width: 350px;
  margin: 0 0 0 60px;
  border-radius: 100rem;
  box-shadow: 10px 10px var(--color2);
  object-fit: cover;
}
  #employee_training:checked ~ #training_content,
  #smile_training:checked ~ #smile_content,
  #hospitality:checked ~ #hospitality_content {
    display: block;
  }
  
#detail .tabs input:checked + .tab_item {
  background-color: var(--color1);
  color: #000;
  position: relative;
}
#detail .tabs input:checked + .tab_item::after{
  position: absolute;
  transform: scale(0,0);
  transform: left top;
  transition: transform 0.3s;
}
#detail .tabs input:checked + .tab_item:hover::after{
  transform: scale(0,0);
}
.c-txtsp{
  display: inline;
  height: 450px;
  width: 500px;
  background-color: var(--color1);
  border-radius: 100rem;
  padding: 120px 50px 0 50px;
  margin: 100px 0 0 20px;
}

/* セミナーの感想 */

/* セミナー開始までの流れ */
.scroll{
    width:300px;
    height: 100px;
    overflow: auto;
}

.scroll::-webkit-scrollbar{
    display: none;
}

/* 講師紹介 */

/* お問い合わせボタン */

/* フッダー */
