/* 共通部分 */
:root {
  --color1 : #FFF5F7;
  --color2 : #FBC3BC;
  --main-size : 18px;
  --title-size : 28px;
}
a{
  text-decoration: none;
}

/* ヘッダー */
header{
  display: flex;
  position: fixed;
  width:100%;
  height: 90px;
  left:0;
  top:0;
  margin:0;
  background-color: #FFF;
  z-index:1001;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);
}

.header_title{
  background: linear-gradient(transparent 60%, var(--color2) 60%);
  background-repeat: no-repeat;
	background-size: 100% 30%;
	background-position: bottom;
  margin-bottom: 40px;
}

.header_button{
	position: fixed;
  top: 0;
  right: 0;
  margin: 10px;
}
.header_button a{
  float: left;
  display: block;
  text-align: center;
  margin-left: 10px;
  padding: 5px 0 5px 0;
  width: 200px;
  border-radius: 10rem;
  color: #000;
  background: linear-gradient(to right, var(--color2) 0%, var(--color1) 50%, var(--color2) 100%);
  border: 1px solid var(--color2);
  background-position: 0 50%;
  background-size: 200% auto;
  transition: background-position 0.3s ease-in-out;
}
.header_button a:hover{
  background-position: 100% 50%;
}

header ul{
  margin: 55px 0 0 0;
}

header li{
  float: left;
  list-style:none;
  padding-left: 30px;
}
header li a{
  color: #000;
  position: relative;

}
header li a::after {
  position: absolute;
  left: 0;
  content: '';
  width: 100%;
  height: 4px;
  background: var(--color2);
  bottom: -1px;
  transform: scale(0,1);
  transform: left top;
  transition: transform 0.3s;
}
header li a:hover::after {
  transform: scale(1,1);
}

/* スライドショー */
div#carousel { 
    perspective: 1200px; /*スライドショーの横幅：画像全体*/
    background: #fff; 
    padding-top: 10px; 
    font-size:0; 
    overflow: hidden; 
}
figure#spinner { 
    transform-style: preserve-3d;
    height: 300px;
    transform-origin: 50% 50% -500px;
    transition: 1s;
} 
figure#spinner img { 
    width: 40%; max-width: 450px; 
    position: absolute; left: 30%;/*スライドショーの場所：横*/
    transform-origin: 50% 50% -600px;
    outline:1px solid transparent; 
}
figure#spinner img:nth-child(1) { transform:rotateY(0deg); 
}
figure#spinner img:nth-child(2) { transform: rotateY(-45deg); }
figure#spinner img:nth-child(3) { transform: rotateY(-90deg); }
figure#spinner img:nth-child(4) { transform: rotateY(-135deg); }
figure#spinner img:nth-child(5){ transform: rotateY(-180deg); }
figure#spinner img:nth-child(6){ transform: rotateY(-225deg); }
figure#spinner img:nth-child(7){ transform: rotateY(-270deg); }
figure#spinner img:nth-child(8){ transform: rotateY(-315deg); }
div#carousel ~ span { 
    color: #000; 
    margin: 5%; 
    display: inline-block; 
    text-decoration: none; 
    font-size: 2rem; 
    transition: 0.6s color; 
    position: relative; 
    margin-top: -6rem; 
    border-bottom: none; 
    line-height: 0;
}
div#carousel ~ span:hover { color: #888; cursor: pointer; }

/* メインコンテンツ */

/* スマイルトレーナーとは */

/* セミナーについて */
#detail .tabs {
    margin-top: 50px;
    padding-bottom: 40px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 80%;
    margin: 0 auto;}
#detail .tab_item {
    width: calc(100%/3);
    height: 50px;
    border-bottom: 3px solid #5ab4bd;
    background-color: #d9d9d9;
    line-height: 50px;
    font-size: 16px;
    text-align: center;
    color: #565656;
    display: block;
    float: left;
    text-align: center;
    font-weight: bold;
    transition: all 0.2s ease;
  }
#detail .tab_item:hover {
    opacity: 0.75;
  }
  
#detail input[name="tab_item"] {
    display: none;
  }
  
#detail .tab_content {
    display: none;
    padding: 40px 40px 0;
    clear: both;
    overflow: hidden;
  }
#detail .tab_content_description{
    display: flex;
    /* position: absolute; */
    
   }
#detail img{
    height: 500px;
    width: 400px;
    border-radius: 50%;
}
  #employee_training:checked ~ #training_content,
  #smile_training:checked ~ #smile_content,
  #hospitality:checked ~ #hospitality_content {
    display: block;
  }
  
#detail .tabs input:checked + .tab_item {
    background-color: #5ab4bd;
    color: #fff;
  } 

/* セミナーの感想 */

/* セミナー開始までの流れ */
.scroll{
    width:300px;
    height: 100px;
    overflow: auto;
}

.scroll::-webkit-scrollbar{
    display: none;
}

/* 講師紹介 */

/* お問い合わせボタン */

/* フッダー */
